:root {
  --primary: #eee;
  --secondary: #ddd;
}

body {
  background-color: var(--primary);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page {
  background-color: var(--secondary);
  width: 960px;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  margin: 0;
}

header {
  background-color: var(--primary);
  padding: 5px;
}

footer {
  background-color: var(--secondary);
  padding: 5px;
  text-align: center;
}

#menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0 20px 0 0;
}

#menu ul li {
  padding: 0 5px;
}

main {
  background-color: var(--primary);
  padding: 5px 0;
}

#search {
  background-color: var(--primary);
  padding: 5px;
  margin: 5px 0;
}

.events-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.events-list .event {
  width: 300px;
  margin: 0 10px;
}

#map-page {
  padding: 5px;
}

.gray {
  filter: grayscale(0.9);
}
